body{
    font-size: 16px;
    background-color: white;
}
header,
main,
footer{
    max-width: 960px;
    margin: 0 auto 10;

}
main section p{
    margin: 5px;
    border: 1px solid #bbb;
    padding:5px;


}